:root{
    /* Colors */

    /* Primary */

    --Green-200: hsl(148, 38%, 91%);
    --Green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    background-color: var(--Green-200);
    color: var(--Grey-900);
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    justify-content: center;
    margin: auto auto;
    min-height: 100vh;
}

main{
    align-self: center;
    background-color: var(--White);
    border-radius: 10px;
    margin: auto 1rem;
    max-width: 45.5rem;
    padding: 15px 20px;
    width: 100%;
}

h1{
    margin-bottom: 25px;
}
label span{
    color: var(--Green-600);
}

/* name and email */

.name, .email{
    display: block;
    align-content: center;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 100%;
}

.name input, input[type="email"]{
    border: 1px solid var(--Grey-500);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%;
}

/* radio and chechbox */

.QT{
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

label.radio{
    border: 1px solid var(--Grey-500);
    border-radius: 5px;
    display: flex;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}
label.radio:has(input:checked){
    background-color: var(--Green-200);
}

input[type="radio"], input[type="checkbox"]{
    appearance: none;
    border: 1px solid var(--Grey-900);
    height: 15px;
    width: 15px;
}

.radio input{
    align-self: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

input[type="checkbox"]{
    margin-right: 20px;
    margin-left: 0px;
}

.consent{
    display: block;
    margin: 15px 0 0px 0;
}
.consent label{
    display: flex;
    margin-right: 25px;
    margin-bottom: 10px;
}

.consent label span{
    margin-left: 5px;
    
}

textarea{
    border-radius: 7px;
    border: 1px solid var(--Grey-500);
    height: 210px;
    margin-top: 12px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

/* active class */

input[type="email"]:focus, .name input:focus, textarea{
    outline-color: var(--Green-600);
}

/* checked inputs */

input[type="radio"]:checked, input[type="checkbox"]:checked{
    background-position: center center;
    background-size: 15px 15px;
}

input[type="radio"]:checked{
    background-image: url(assets/images/icon-radio-selected.svg);
}
input[type="checkbox"]:checked{
    background-image: url(assets/images/icon-checkbox-check.svg);
}

button{
    background-color: var(--Green-600);
    border-color: var(--Green-600);
    border-radius: 7px;
    color: var(--White);
    display: block;
    height: 45px;
    margin: 40px auto 10px auto;
    width: 100%;
}

/* error messaage */

.name input.invalid, input[type="email"].invalid, textarea.invalid{
    background-color: white;
    border: 1px solid var(--Red);
}

.error{
    color: var(--Red);
    display: none;
}

/* success message */
.success{
    background-color: var(--Grey-900);
    border-radius: 5px;
    color: var(--Green-200);
    display: none;
    margin: auto;
    max-width: 50%;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

h3{
    display: flex;
    margin-bottom: 10px;
}

.success-image{
    background-image: url(assets/images/icon-success-check.svg);
    display: inline-block;
    height: 20px;
    margin-right: 13px;
    width: 20px;
}

.success p{
    line-height: 18px;
}

/* hover effect */

input:hover, .radio label:hover, textarea{
    cursor: pointer;
}
input[type="email"]:hover, input[type="text"]:hover, textarea:hover{
    border: 1px solid var(--Green-600);
}

button:hover{
    background-color: hsl(169, 80%, 14%);
    cursor: pointer;
}

/* media queries */

@media screen and (min-width:47.5rem) {
    
    .user-details, .QT{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name{
        display: block;
        align-content: center;
        border-radius: 5px;
        width: 49%;
    }
    .email{
        display: block;
    }
    
    label.radio{
        display: block;
        width: 49%;
    }
    textarea{
        height: 6.25rem;
    }
}
